<div id="articles">
    <h1 class="heading">Press</h1>
    <p>
        The Developers Union got a lot of attention in our little community, including: <a class="link" href="https://www.wired.com/story/apple-app-developers-union/?mbid=social_twitter">Wired</a>,
        <a class="link" href="https://www.theverge.com/2018/5/18/17369278/apple-ios-developers-union-app-store-free-trials-revenue-cut-negotiations">The Verge</a>,
        <a class="link" href="https://9to5mac.com/2018/05/18/unoffical-developers-union-app-store-changes/">9to5Mac</a>, 
        <a class="link" href="https://www.imore.com/developers-union-responds-apples-policies-open-letter">iMore</a>,
        and more.
    </p>
</div>