<div id="faq">
    <h1 class="heading">F.A.Q</h1>
    <p><b>Is this a union union with dues and stuff?</b></p>
    <p><i>No, this is a non-union union created to bring developers and supporters together for better App Stores for all by focusing on issues that best serve those who create and use apps.</i></p>

    <p><b>Why free trials?</b></p>
    <p>
        <i>Free trials are a great place to start and gather the momentum needed to create significant change. 
        Trials allow developers to show users their creation and establish value.
        Before iOS, Mac developers relied heavily on free trials, and they were able to make a living while making great software.
        </i>
    </p>
    <p>
        <b>
            What other changes will The Developers Union advocate for?
        </b>
    </p>
    <p>
        <i>
            We really want this to be community-driven, so this is about your ideas. One thing on top of developers' minds is the revenue split between Apple and developers. That could be next.
        </i>
    </p>
</div>