<head>
    <title>The Developers Union</title>
    <meta charset="utf-8"><meta name="description" content="The Developers Union is an advocate for sustainability in the App Store. Join Us.">
    <meta name="author" content="The Developers Union">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="The Developers Union">
    <meta property="og:title" content="Developers Union - Home">
    <meta property="og:description" content="The Developers Union is an advocate for sustainability in the App Store. Join Us." />
    <meta property="og:url" content="https://www.thedevelopersunion.org" />
    <meta property="og:image" content="/images/Twitter card.png" />
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="The Developers Union">
    <meta name="twitter:url" content="http://thedevelopersunion.org/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@TheDevUnion" />
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>