<div class="heading" id="letter-section">
    <h1 id="greeting">Dear Apple,</h1>
    <div id="letter-content">
            <p>We believe that people who create great software should be able to make a living doing it.
                So we created The Developers Union to advocate for sustainability in the App Store.
            </p>
            <p>
                Today, we are asking Apple to publicly commit — by the tenth anniversary of the App Store this July — to allowing free trials for all apps in the App Stores before July 2019.
                After that, we'll start advocating for a more reasonable revenue cut and other community-driven, developer-friendly changes.
            </p>
    </div>
    <!-- <div id="letter-call-to-action">
        <button type="button" class="letter-links"id="join-button" onclick="displayOverlay()">Join Us</button>
        <ul id="letter-links-container">
            <li><a class="link letter-links" href="/apps">See the Apps ›</a></li>
            <li><a class="link letter-links" href="/supporters">See the Supporters ›</a></li>
        </ul>
    </div> -->
</div>